/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Pong/nbproject/private/
/Pong/build/
/PongJava/nbproject/private/
/PongJava/build/
/ExemploPong/nbproject/private/
/PongJava/dist/
/CalculadoraJavaSocket/nbproject/private/
/CalculadoraJavaSocket/build/
/TESTE/nbproject/private/
/TESTE/build/
/CalculadoraServidor/nbproject/private/
/CalculadoraJavaSocket/dist/
/CalculadoraServidor/build/
/CalculadoraServidor/dist/